<aside class="sidebar">
<div class="sidebar__inner">
    <a href="" class="sidebar__close">
        <svg class="sidebar__close__icon">
            <polygon points="15.8333324 5.34166622 14.6583325 4.16666642 9.99999942 8.82499958 5.34166622 4.16666642 4.16666642 5.34166622 8.82499958 9.99999942 4.16666642 14.6583325 5.34166622 15.8333324 9.99999942 11.1749992 14.6583325 15.8333324 15.8333324 14.6583325 11.1749992 9.99999942"></polygon>
        </svg>
    </a>
    <a href="/" class="logo">
        <img src="https://zito-info.oss-cn-hangzhou.aliyuncs.com/cdnassets/img/webfont.png" alt="">
    </a>
    <ul class="doc-link">
        
            <%- first_link = true -%>                    <%- active_keywords = ['', ''] -%>
                    <%- if !defined?(key2) && first_link -%>
                        <%- active_keywords = ['toggled', 'display: block'] -%>
                    <%- end -%>
                    <%- if defined?(key2) && key2['Options'] != 'hidden' -%>
                        <%- if defined?(categories) && categories.keys[0] ==='简介'-%>
                            <%- active_keywords = ['toggled', 'display: block'] -%>
                        <%- end -%>
                    <%- end -%>
                        <li class='doc-link__category <%= active_keywords[0] -%>'>
                            <a href="" class="doc-link__header">
                                简介                            </a>
                            <ul class="doc-link__items" style='<%= active_keywords[1] -%>'>
                                            <li>
                                                <%- if defined?(key2) && key2['Slug'] === 'quick-start-guide'-%>
                                                    <a href="/quick-start-guide.html" class="doc-link__active">
                                                        快速入门                                                    </a>
                                                <%- elsif !defined?(key2) && first_link -%>
                                                    <a href="/quick-start-guide.html" class="doc-link__active">
                                                        快速入门                                                    </a>
                                                    <%- first_link = false -%>
                                                <%- else -%>
                                                    <a href="/quick-start-guide.html">
                                                        快速入门                                                    </a>
                                                <%- end -%>
                                            </li>
                            </ul>
                        </li>
                    <%- active_keywords = ['', ''] -%>
                    <%- if !defined?(key2) && first_link -%>
                        <%- active_keywords = ['toggled', 'display: block'] -%>
                    <%- end -%>
                    <%- if defined?(key2) && key2['Options'] != 'hidden' -%>
                        <%- if defined?(categories) && categories.keys[0] ==='独立部署'-%>
                            <%- active_keywords = ['toggled', 'display: block'] -%>
                        <%- end -%>
                    <%- end -%>
                        <li class='doc-link__category <%= active_keywords[0] -%>'>
                            <a href="" class="doc-link__header">
                                独立部署                            </a>
                            <ul class="doc-link__items" style='<%= active_keywords[1] -%>'>
                                            <li>
                                                <%- if defined?(key2) && key2['Slug'] === 'self-host-guide'-%>
                                                    <a href="/self-host-guide.html" class="doc-link__active">
                                                        centos                                                    </a>
                                                <%- elsif !defined?(key2) && first_link -%>
                                                    <a href="/self-host-guide.html" class="doc-link__active">
                                                        centos                                                    </a>
                                                    <%- first_link = false -%>
                                                <%- else -%>
                                                    <a href="/self-host-guide.html">
                                                        centos                                                    </a>
                                                <%- end -%>
                                            </li>
                            </ul>
                        </li>
         
    </ul>
</div>
</aside>

<section class="content">
